body {
    
}

header {
    margin-top: 35px;
    margin-bottom: 35px;
    background-image: lightcoral;
    
}

.top-container {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    background-color: lightcoral;
    padding-top: 35px;
    padding-bottom: 35px;
    
    
}
.team-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    
    
}

.list-group-item {
    background-color: blue;
    color: white;
    font-weight: bold;
}

.card-header {
    background-color: rgb(87, 87, 198);
    color: white;
    font-weight: bold;
}